---
permalink: /blog
layout: default
---


<style>
    #main_page{            
        background-color: #181A1B;
        color: white;
        font-family: Georgia, serif;
    }

    @media (min-width: 768px) { 
        #main_page{
            max-width: 700px;
        }
    }


</style>

<div id="main_page"  class="container-md">
    {% if site.posts.size == 0 %}
        <p>No posts...yet.</p>
    {% else %}
        <div id="recent_posts" class="my-3">
            <h2>Post recenti:</h2>
                {% for post in site.posts %}
                    <div>
                        <a style="text-decoration: none;color:white" href="{{ post.url }}">
                            <div class="container">
                                <div class="text-truncate">
                                    <h3>{{post.title}}</h3>
                                </div>
                                {{ post.date | date_to_string }}        
                                <p>{{post.description}}</p>
                            </div>
                        </a>
                        <hr>
                    </div>
                {% endfor %}
        </div>
    {% endif %}
</div>