    
<style type="text/css" media="screen">
    footer{background-color:white}
    li {list-style: none;}

    @media (max-width: 576px) { 
        footer{
          font-size: small;
        }
    }
</style>

<footer class="fixed-bottom text-align p-3">
    <div class="row text-center">
        <div class="col">
            {% for s in site.social_media %}
                <a href="{{s.url}}" class="mx-2"><img src="{{site.url_images}}/{{s.social}}.svg" width="20px" alt="{{s.social}}"></a>
            {% endfor %} 
        </div>
        <div class="col" hidden>
            <ul class="list-unstyled small">
                <li>
                    <img src="{{site.url_images}}/darkmode.svg">    
                    Dark mode
                </li>
                <li>
                    Language: IT/EN
                </li>
            </ul>

        </div>
    </div>
</footer>
