---
layout: blog
---



<!-- questo sarebbe il layout predefinito dei post-->

{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
<meta name="twitter:title" content="{{ page.title }}">
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
<meta name="twitter:description" content="{{ page.description }}">
{% endif %}

{% if page.url_image %}
<meta property="og:image" content="{{ page.url_image | absolute_url }}">
<meta name="twitter:image" content="{{ page.url_image | absolute_url }}">
{% endif %}

{% if page.url %}
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% endif %}


<div style="font-family: 'Times New Roman', serif;">
    <h1 style="text-align: justify;">{{page.title}}</h1> 
    {% if page.url_image %}
        <img class="my-1 rounded img-fluid" src="{{page.url_image}}">
    {% endif %}
    <p class="m-2" style="text-align: right;">Pubblicato il {{page.date| date_to_string}}</p>
</div>
<hr class="mt-0">
<div class="content">
    {{content}}
</div>




