---
layout: blog
---



<!-- questo sarebbe il layout predefinito dei post-->
<head>
<head>
{% if page.title %}
<meta property="og:title" content="{{ page.title | default: site.title }}">
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description | default: 'Nessuna descrizione disponibile' }}">
{% endif %}

{% if page.url_image %}
<meta property="og:image" content="{{ page.url_image | absolute_url }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="1200">
{% endif %}

<meta property="og:url" content="{{ page.url | default: page.permalink | absolute_url }}">
<meta property="og:type" content="article">
</head>


</head>


<div style="font-family: 'Times New Roman', serif;">
    <h1 style="text-align: justify;">{{page.title}}</h1> 
    {% if page.url_image %}
        <img class="my-1 rounded img-fluid" src="{{page.url_image}}">
    {% endif %}
    <p class="m-2" style="text-align: right;">Pubblicato il {{page.date| date_to_string}}</p>
</div>
<hr class="mt-0">
<div class="content">
    {{content}}
</div>




